{% extends '../base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<style>
#id_username, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
      display: block;
      width: 100%;
      padding: 8 px;
      border-radius: 10px;
      margin-bottom: 10px;
      border: 1px solid #000;
  }
</style>
<div class="container mt-5 mb-5">
        <div class="card">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-dark">Sign Up</button>
            </form>
        </div>
</div>
{% endblock %}